
.detalleCarrito {
color: goldenrod;
font-weight: bolder;


}

.padre {
    display: flex;
    justify-content: space-around;
}

h3 {
    color: green;
    font-weight: bolder;
}

.detalleCarritoPrecio {
    color:white;
    align-self:flex-start;
}



.titulo {
    color: goldenrod;
}

.link{
    color: white;
    font-weight: bold;
}
.resumenCompra{
    width: fit-content;
  
    
    
    
}
.detalleCompra{
    display: flex;
    align-items:center;
    justify-content:space-between;
    
    

}




.detalleCantidadCarrito{
    color: #a87b05
    
}
.detalleTotal{
    color: gold
}

 .btn-primary{
    
    color:goldenrod;
    font-weight: 600;
    border-radius: 10px;

    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(37,22,131,1) 0%, rgba(97,170,231,1) 90% );
    
  }
  .botonVaciar {
    color: goldenrod;
  }
  
.divForm {
    display:flex;
    
    
}
h2{
    color: goldenrod;
    font-weight: 700;
}
.contenedorEmitirCompra{
    grid-column: 2/3;
}