
.detalleCarrito {
color: goldenrod;
font-weight: bolder;


}

.padre {
    display: flex;
    justify-content: space-around;
}

h3 {
    color: green;
    font-weight: bolder;
}

.detalleCarritoPrecio {
    color:white;
    align-self:flex-start;
}



.titulo {
    color: goldenrod;
}

.link{
    color: white;
    font-weight: bold;
}
.resumenCompra{
    width: fit-content;
  
    
    
    
}
.detalleCompra{
    display: flex;
    align-items:center;
    justify-content:space-between;
    
    

}




.detalleCantidadCarrito{
    color: #a87b05
    
}
.detalleTotal{
    color: gold
}

 .btn-primary{
    
    color:goldenrod;
    font-weight: 600;
    border-radius: 10px;

    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(37,22,131,1) 0%, rgba(97,170,231,1) 90% );
    
  }
  .botonVaciar {
    color: goldenrod;
  }
  
.divForm {
   
    justify-content: center;
    align-items: center;
    width: 500px;
    
}
h2{
    color: goldenrod;
    font-weight: 700;
}
.datosUsuario{
    
    align-items: center;
    justify-content: center;
    justify-items: center;
}
.resumenCarrito {
    display: flex;
    justify-content: center;
}

.compraAprobada{
    margin-top: 50px;
    height: 100%;
    width: 100%;
    
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color: whitesmoke;

}
.compraAprobada h2 {
    color:green;
    font-weight: bold;
    width: fit-content;
    justify-items: center;
    align-items: center;
    justify-content: center;
    align-items: center;
    
}

.compraAprobada .text_Compra {
    
    width: 50%;
    font-weight: bolder;
    justify-content: center;
    align-content: center;
    font-size: 20px;
    color: goldenrod;
}