.container-form {
    border-radius: 15px;
    border: 1px solid goldenrod;
    width: 100%;
}
.inputDiv label {
    display: flex;
    color: gold;
    margin: 10px;
}

input{
    margin-left: 10px;
}
.form-flex{
   
}