


.navbar{
    display: flex;
    border-radius: 10px;
    background:transparent;
    
    
}


.botonEliminar .btn {
  color: goldenrod;
}

.navbar-nav{
    color: goldenrod;
    
}
.container-fluid  ul li a {
    color: orange;
  }
  .logo img{
    color: goldenrod;
  }
  .btn .btn-primary button{
    color: goldenrod;
  }
  button{
    color: goldenrod;
  }

    a {
    color: goldenrod;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
    padding: 3px;
    margin-left: 50px;
}
  
.navbar{
  color: white;
}

.navbar .navbar-nav .nav-link{
  color: goldenrod;
  font-weight: bolder;
}
.imagenNavbar {

  filter: blur(1px);
  

}

