.counter{
    width:300px;
    
    background-color: transparent;
    margin: auto;
    padding: 1rem;
    text-align: center;
    color: goldenrod;
    font-weight: bolder;
    font-size: 35px;
}

.btn{
    
    color:goldenrod;
    font-weight: 600;
    
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(37,22,131,1) 0%, rgba(97,170,231,1) 90% );
    
  }